<a href="https://colab.research.google.com/github/Raul180408/INFO3_BD2/blob/main/atividade_view%2C_procedure%2C_function_e_trigger.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

nomes: Raul e Jonathan

questão 1

In [ ]:
query = """
select count(registroTaxista) as TotalTaxistas
from RegiaoTaxista
"""

questão 2

In [ ]:
query = """
create view vw_TotalTaxistas as
select r.nome count(rt.registroTaxista) as TotalTaxistas
from RegiaoTaxista rt
join Taxista t on rt.registroTaxista = t.registro
join Regiao r on rt.idRegiao = r.idRegiao
group by r.nome as nomeRegiao;
"""

questão 3

In [ ]:
query = """
create view vw as
select r.nome as nomeRegiao, m.nome as nomeMunicipio
from Regiao r
join RegiaoTaxista rt on r.idRegiao = rt.idRegiao
join Municipio m on r.idMunicipio = m.idMunicipio;
join RegiaoMunicipio rm on r.id = rm.idRegiao;
where t.nome == 'Aline Silva' and rm.idMunicipio = m.id and t.registro = rt.registroTaxista;
"""

questão 4

In [ ]:
query = """
DELIMITER $$
CREATE PROCEDURE sp_nome_municipio_regiao_atua(IN p_nomeTaxista int)
BEGIN
  select r.nome as nomeRegiao, m.nome as nomeMunicipio
  from Regiao r
  join RegiaoTaxista rt on r.idRegiao = rt.idRegiao
  join Municipio m on r.idMunicipio = m.idMunicipio;
  join RegiaoMunicipio rm on r.id = rm.idRegiao;
  where t.nome == p_nomeTaxista and rm.idMunicipio = m.id and t.registro = rt.registroTaxista;
 END $$
DELIMITER ;
"""

questão 5

In [ ]:
query = """
DELIMITER $$
CREATE FUNCTION fn_qtd_municipios_atendidos(p_nomeTaxista INT)
RETURNS INT DETERMINISTIC
BEGIN
declare qtd_atendidos int;
  select count(m.id as idMunicipio) into qtd_atendidos
  from Regiao r
  join RegiaoTaxista rt on r.idRegiao = rt.idRegiao
  join Municipio m on r.idMunicipio = m.idMunicipio
  join RegiaoMunicipio rm on r.id = rm.idRegiao
  where t.nome == p_nomeTaxista and rm.idMunicipio = m.id and t.registro = rt.registroTaxista;
  return qtd_atendidos;
 END $$
DELIMITER ;

call fn_qtd_municipios_atendidos('João Souza')
"""

questão 6

In [ ]:
query = """
DELIMITER $$
CREATE FUNCTION fn_qtd_municipios_atendidos(p_nomeTaxista INT)
RETURNS INT DETERMINISTIC
BEGIN
declare qtd_atendidos int;
  if(p_nomeTaxista exists) then
    select count(m.id as idMunicipio) into qtd_atendidos
    from Regiao r
    join RegiaoTaxista rt on r.idRegiao = rt.idRegiao
    join Municipio m on r.idMunicipio = m.idMunicipio
    join RegiaoMunicipio rm on r.id = rm.idRegiao
    where t.nome == p_nomeTaxista and rm.idMunicipio = m.id and t.registro = rt.registroTaxista;
    return qtd_atendidos;
  else
    SIGNAL SQLSTATE '45000'
    SET MESSAGE_TEXT = 'Taxista não cadastrada, verifique o nome informado';
  end if;
 END $$
DELIMITER ;

"""

questão 7

In [ ]:
query = """
DELIMITER //
CREATE TRIGGER trg_verifica_novo_taxista
BEFORE INSERT ON RegiaoTaxista FOR EACH ROW
BEGIN
  UPDATE Taxista SET Salario_Base = Salario_base * 1.1 WHERE new.registro = RegiaoTaxista.registroTaxista;
END //
DELIMITER ;
"""
query = """
insert on RegiaoTaxista(taxa_comissao, salario_base, nome, registro, contato) values(100, 100, raul, 1, '(31)99999-9999')
"""

questão 8

In [ ]:
query = """
DELIMITER //
CREATE TRIGGER trg_verifica_novo_taxista
BEFORE delete ON RegiaoTaxista FOR EACH ROW
BEGIN
  UPDATE Taxista SET Salario_Base = Salario_base / 1.1 WHERE new.registro = RegiaoTaxista.registroTaxista;
END //
DELIMITER ;
"""
query = """
delete on RegiaoTaxista(taxa_comissao, salario_base, nome, registro, contato) values(100, 100, raul, 1, '(31)99999-9999')
"""